<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>File Parser</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- File Upload Form -->
    <h1>Upload a Zip File Containing Word Documents or PDFs</h1>
    <form action="/parse" method="post" enctype="multipart/form-data" id="parse">
        <input type="file" name="file">
        <input type="submit" value="Parse">
    </form>

    <form action="/download" method="get" id="downloadForm">
        <button type="submit">Download Excel</button>
    </form>

    <form action="/score" method="post" enctype="multipart/form-data" id="search">
        <label for="search_word">Search Words:</label>
        <input type="checkbox" name="search_word" value="Python">Python
        <input type="checkbox" name="search_word" value="Javascript">Javascript
        <input type="checkbox" name="search_word" value="SQL">SQL
        <input type="checkbox" name="search_word" value="HTML">HTML
        <input type="checkbox" name="search_word" value="Oracle">Oracle
        <br>
        <input type="submit" value="Load Scores">
    </form>

    <!-- Loading Spinner -->
    <div id="loading-spinner"></div>

    <!-- Score Display -->
    <div id="score" style="display: none;">
        <h2>Score:</h2>
        <table>
            <thead>
                <tr>
                    <th>Delete</th>
                    <th>File Name</th>
                    <th>Score</th>
                    <th>Keywords</th>
                </tr>
            </thead>
            <tbody id="scoreTable"></tbody>
        </table>
    </div>

    <form action="/delete" method="post" id="deleteForm">
        <input type="submit" value="Delete All Resumes">
    </form>

    <script>
        // Get the form element and other necessary DOM elements
        const parseForm = document.getElementById('parse');
        const searchForm = document.getElementById('search');
        const deleteForm = document.getElementById('deleteForm');
        const scoreDiv = document.getElementById('score');
        const loadingSpinner = document.getElementById('loading-spinner');

        // Function to submit the score form
        function submitScoreForm() {
            const formData = new FormData(searchForm); // Get the form data

            fetch('/score', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(results => {
                // Handle and display the results as needed
                const scoreTable = document.getElementById('scoreTable');
                scoreTable.innerHTML = ''; // Clear any previous content from the score table

                // Sort results based on score in descending order
                results.sort((a, b) => b[1] - a[1]);

                // Populate the score table with the sorted results
                for (const result of results) {
                    const filename = result[0];
                    const score = result[1];
                    const keywords = result[2];

                    const row = document.createElement('tr');
                    const deleteCell = document.createElement('td'); // Create delete cell
                    const fileNameCell = document.createElement('td');
                    const scoreCell = document.createElement('td');
                    const keywordsCell = createKeywordsField(keywords);

                    deleteCell.appendChild(createDeleteButton(filename)); // Add delete button to delete cell

                    fileNameCell.textContent = filename;
                    scoreCell.textContent = `${score}%`;

                    row.appendChild(deleteCell); // Add delete cell to the row
                    row.appendChild(fileNameCell);
                    row.appendChild(scoreCell);
                    row.appendChild(keywordsCell);

                    scoreTable.appendChild(row);
                }


                // Show the score section after getting results
                scoreDiv.style.display = 'block';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Function to create a delete button for each row
        function createDeleteButton(filename) {
            const deleteButton = document.createElement('button');
            deleteButton.textContent = 'Delete';
            deleteButton.addEventListener('click', () => {
                deleteRow(filename);
            });
            return deleteButton;
        }

        // Function to create a clickable keywords field for each row
        function createKeywordsField(keywords) {
            const keywordsField = document.createElement('td');
            keywordsField.classList.add('keywords-cell');

            // Create a list element to hold each keyword in a separate list item
            const keywordsList = document.createElement('ul');
            keywordsList.classList.add('keywords-list');

            // Add each keyword as a list item
            for (const keyword of keywords) {
                const keywordItem = document.createElement('li');
                keywordItem.textContent = keyword;
                keywordsList.appendChild(keywordItem);
            }

            // Set initial visibility of keywords list to hidden
            keywordsList.style.display = 'none';

            // Show "View Keywords" text initially
            const viewKeywordsText = document.createElement('div');
            viewKeywordsText.textContent = "View Keywords";
            keywordsField.appendChild(viewKeywordsText);

            // Add click event listener to toggle keywords list visibility
            keywordsField.addEventListener('click', () => {
                if (keywordsList.style.display === 'block') {
                    keywordsList.style.display = 'none'; // Hide the keywords list
                    viewKeywordsText.style.display = 'block'; // Show "View Keywords" text
                } else {
                    keywordsList.style.display = 'block'; // Show the keywords list
                    viewKeywordsText.style.display = 'none'; // Hide "View Keywords" text
                }
            });

            keywordsField.appendChild(keywordsList);
            return keywordsField;
        }

        // Function to handle row deletion
        function deleteRow(filename) {
            fetch('/delete_row', {
                method: 'POST',
                body: JSON.stringify({ filename: filename }), // Send filename to server
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(result => {
                if (result.success) {
                    // Reload the score table after successful deletion
                    submitScoreForm();
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Add event listener to the parse button
        parseForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(parseForm); // Get the form data
            loadingSpinner.style.display = 'block'; // Show the loading spinner

            try {
                const response = await fetch('/parse', { // Send the form data to the server for processing
                    method: 'POST',
                    body: formData,
                });

                loadingSpinner.style.display = 'none'; // Hide the loading spinner after receiving the response

                if (!response.ok) {
                    throw new Error(`Server returned an error. Status: ${response.status}`);
                }

                submitScoreForm();

            } catch (error) {
                console.error('Error:', error);
                const scoreDisplay = document.getElementById('scoreText');
                scoreDisplay.innerText = 'An error occurred. Please try again.';
            }
        });

        // Add event listener to the form submit button
        searchForm.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent default form submission
            submitScoreForm();
        });

        window.addEventListener('load', () => {
            // Trigger the "Load Scores" form submission when the page loads
            submitScoreForm();
        });
    </script>    
</body>
</html>