<!DOCTYPE html>
<html>
<head>
    <title>File Parser</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload a Zip File Containing Word Documents or PDFs</h1>
    <form action="/parse" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Parse">
        <br>
        <label for="search_word">Search Words:</label>
        <input type="checkbox" name="search_word" value="Python">Python
        <input type="checkbox" name="search_word" value="Javascript">Javascript
        <input type="checkbox" name="search_word" value="SQL">SQL
        <input type="checkbox" name="search_word" value="HTML">HTML
        <input type="checkbox" name="search_word" value="Oracle">Oracle
    </form>
    <!-- Score display -->
    <div id="score" style="display: none;">
        <h2>Score:</h2>
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="scoreTable"></tbody>
        </table>
    </div>
    <script>
        const form = document.querySelector('form');
        const scoreDiv = document.getElementById('score');
    
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(form);
    
            try {
                const response = await fetch('/parse', {
                    method: 'POST',
                    body: formData,
                });
    
                if (!response.ok) {
                    throw new Error(`Server returned an error. Status: ${response.status}`);
                }
    
                const results = await response.json();
                const scoreTable = document.getElementById('scoreTable');
                scoreTable.innerHTML = '';

                for (const filename in results) {
                    const score = results[filename].score;
    
                    const row = document.createElement('tr');
                    const fileNameCell = document.createElement('td');
                    const scoreCell = document.createElement('td');

                    fileNameCell.textContent = filename;
                    scoreCell.textContent = `${score}%`;

                    row.appendChild(fileNameCell);
                    row.appendChild(scoreCell);

                    scoreTable.appendChild(row);
                }

                // Show the score section after getting results
                scoreDiv.style.display = 'block';
            } catch (error) {
                console.error('Error:', error);
                const scoreDisplay = document.getElementById('scoreText');
                scoreDisplay.innerText = 'An error occurred. Please try again.';
            }
        });
    </script>    
</body>
</html>

